@model FinalProject.UI.Models.ContactViewModel

@{
    ViewBag.Title = "EmailConfirmation";
}


<div>
    <h5 class="section-heading text-uppercase text-center">Thank you for your message</h5>
    <p class="section-subheading text-muted text-center">We will get back to you ASAP.</p>

    <hr />
  
</div>