@{
    ViewBag.Title = "Home Page";
}

<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Welcome</h2>
            <h3 class="section-subheading text-muted">Thank you for your interest in Williams Technology Group.</h3>

        </div>
        <h3 class="section-heading text-uppercase text-center">Application Process</h3>
        <br />
        <br />
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-address-book fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Create Account</h4>
                <p class="text-muted">When creating an account, you will have the option to upload a resume.  This is recommended, as this is the main piece our managers see.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Apply</h4>
                <p class="text-muted">Once you have made an account, you have the option to one-click-apply to any open positions listed.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-inbox fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Our End</h4>
                <p class="text-muted">Our managers value your time, so we will try to respond to your applications as fast as possible. You can see the statuses for any applications once you are logged in.</p>
            </div>
        </div>
    </div>
</section>
